<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification Form</title>
    <link rel="stylesheet" href="/css/otp.css" />
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <header>
        <i class="bx bxs-check-shield"></i>
      </header>
      <h4>Enter Phone Number</h4>
      <form action="/admin/login" method="POST">
        <div class="input-field-number">
          <input id="phone" type="number" name="phoneNumber"/>
        </div>
        <button type="submit" class="active" >Recieve OTP</button>
      </form>
    </div>
  </body>
  <link rel=stylesheet href=/cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css>
  <script src=/cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js></script>
  <script src="/js/vendor/jquery/jquery-1.12.3.js"></script>

  <script>
  $(document).ready(function () {   
    var e = document.querySelector("#phone")
      const t = window.intlTelInput(e, {
        initialCountry: "in",
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
      })
     } ) 

  </script>

</html>

