<%- include('includes/header') %>
<!-- header ends here -->

<div class="container py-md-5 container--narrow">
  <% if (messages.success) { %>
  <div class="alert alert-success"><%= messages.success %></div>
  <% } %> 
  <% if (messages.error) { %>
  <div class="alert alert-danger"><%= messages.error %></div>
  <% } %>
  
  <form action="/admin/renew-subscription" method="POST">
    <div class="form-group">
      <label for="post-mobile" class="text-muted mb-1"><small>Mobile</small></label>
      <input required name="mobile" id="post-mobile" class="form-control form-control-lg form-control-title" type="tel" placeholder="Enter mobile number" autocomplete="off" />
    </div>

    <div class="form-group">
        <label for="post-subscriptionType" class="text-muted mb-1"><small>Subscription Type</small></label>
        <select required name="subscriptionType" id="post-subscriptionType" class="form-control form-control-lg form-control-title">
          
          <option value="3 months">3 Months</option>
          <option value="6 months">6 Months</option>
          <option value="1 year">1 Year</option>
          <option value="3 years">3 Years</option>
        </select>
      </div>

    <button class="btn btn-primary">Renew Subscription</button>
  </form>
</div>

<!-- footer begins -->
<%- include('includes/footer') %>
